
:root {
    --main-bg-color: red;
    --target-color: blue;

}

.box{
    width: 200px;
    height: 50px;
    background-color: var(--main-bg-color);
    animation-name : colorSwap;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    display: block;
    animation-duration: alternate;


}

.box2{
    animation-duration: 1.5s;
}


.box3{
    animation-duration: 0.5s;
}


@keyframes colorSwap {
    from { background-color: var(--main-bg-color); width: 200px;}
    to {background-color: var(--target-color); width: 400px;}
}